*
!.gitignore
!.gitattributes
!.zshrc
!*.knsv
!Code/*
!Code\ \- \ OSS/*
!VSCodium/*
!micro/colorschemes/
!micro/plug
!micro/bindings.json
!micro/settings.json
!logid/logid.cfg
!autostart/*
!hypr
!rofi
!alacritty/*
!./waybar/**/*
