* {
    border: none;
    border-radius: 0;
    font-family: Iosevka Nerd Font;
    font-size: 15px;
    min-height: 0;
}

window#waybar {
    background: transparent;
    color: white;
}

tooltip {
	background: #11111b;
	border-radius: 8px;
	border-width: 2px;
	border-style: solid;
	border-color: #b4befe
}

#workspaces button {
    padding: 5px 10px;
    color: #cba6f7;
}

#workspaces button.focused {
    color: #11111b;
    background-color: #f5c2e7;
    border-radius: 15px;
}

#workspaces button.urgent {
    color: #11111b;
    background-color: #9ec3c4;
    border-radius: 15px;
}

#workspaces button:hover {
	background-color: #c49ec4;
	color: #11111b;
	border-radius: 15px;
}

#custom-date, #custom-notification, #custom-media, #custom-updates, #custom-downloads , #clock, #battery, #pulseaudio, #network, #workspaces, #tray {
	background-color: #181825;
	padding: 5px 10px;
	margin: 5px 0px;
}

#custom-media {
	color: #f9e2af;
}

#custom-notification {
  color: #f38ba8;
}

#tray {
  padding-left: 15px;
}

#workspaces {
	background-color: #11111b;
	border-radius: 15px 0px 0px 15px;
}

#custom-date {
  color: #74c7ec;
}

#custom-updates {
   color: #89dceb;
}

#custom-downloads {
   color: #fab387;
}

#clock {
  color: #cba6f7;
  border-radius: 0px 15px 15px 0px;
  margin-right: 10px;
}

#network {
	color: #fab387;
	border-radius: 0px 0px 0px 0px;
}

#pulseaudio {
	color: #74c7ec;
}

#battery {
	color: #94e2d5;
}
